/messages.mo
*~
*.DS_Store
#*
.idea/*
config.php
config.php.new
config.php.bak
feed-icons/*
cache/*/*
lock/*
tags
plugins/fever
cache/htmlpurifier/*/*ser
lib/htmlpurifier/library/HTMLPurifier/DefinitionCache/Serializer/*/*ser
web.config
